nav {
  -webkit-transition: background-color 250ms ease-in-out;
  -moz-transition: background-color 250ms ease-in-out;
  -o-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

#header {
  height:100vh;
  min-height:400px;
  background-size:cover;
  background-image:url('assets/image.jpg');
  background-position: top center;
  background-attachment: fixed;
}
